<template>
    <section class="padding-bottom">
        <div class="container">
            <div class="col-md-6 col-md-offset-3">
                <div class="alert alert-success" v-show="submitted">
                    <strong>Hi {{ name }}</strong> and thanks for your enquiry, I will get back to you as soon as possible.
                </div>
                <h4 class="text-center">Please fill your details below!</h4>
                <br>
                <form @submit.prevent="createTask()">

                    <div class="form-group" :class="{'has-error': errors.has('name'), 'has-error': serrors.name }">
                        <label class="control-label" for="name">Name:</label>
                        <input v-validate="'required'" v-model="contact.name" type="text" class="form-control" :disabled="submitted" id="name" name="name" placeholder="Enter Your Name">
                        <!--<label v-show="errors.has('name')" class="control-label">{{ errors.first('name') }}{{ serrors.name }}</label>-->
                        <label v-if="serrors.name" class="control-label">{{ serrors.name[0] }}</label>
                    </div>

                    <div class="form-group" :class="{'has-error': errors.has('email'), 'has-error': serrors.email }">
                        <label class="control-label" for="email">Email</label>
                        <input v-validate="'required|email'" v-model="contact.email" class="form-control" :disabled="submitted" name="email" type="text" placeholder="Email" id="email">
                        <!--<label v-show="errors.has('email')" class="control-label">{{ errors.first('email') }}</label>&lt;!&ndash;</p>&ndash;&gt;-->
                        <label v-if="serrors.email" class="control-label">{{ serrors.email[0] }}</label>
                    </div>

                    <div class="form-group" :class="{'has-error': errors.has('comment'), 'has-error': serrors.comment }">
                        <label class="control-label" for="comment">Comment:</label>
                        <textarea v-model="contact.comment" v-validate="'required|alpha|min:10'" class="form-control" :disabled="submitted" id="comment" name="comment" rows="6" placeholder="Enter Your Comment">
                        </textarea>
                        <!--<label v-show="errors.has('comment')" class="control-label" v-text="serrors.comment">{{ errors.first('comment') }}</label>-->
                        <label v-if="serrors.comment" class="control-label">{{ serrors.comment[0] }}</label>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary pull-right"  :disabled="submitted" >Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </section>

</template>
<script>
    import VeeValidate from 'vee-validate';

    Vue.use(VeeValidate);

    export default{
         data: function() {
            return {
                contact: {
                    name: '',
                    email: '',
                    comment: ''
                },
                submitted: false,
                name: '',
                serrors: {}
            };
        },
        methods: {
           createTask: function () {
                this.$http.post('api/contact/store', this.contact).then(function(response) {
                var name = this.contact.name;
                this.reset();
                this.name = name;
                this.submitted = true;

            }, function (response) {
                // form submission failed, pass form  errors to errors array
                //this.$set('errors', response.data);
                this.$set(this, 'serrors', response.data);
                //this.errors = response.data;
            });


           },
           reset: function() {
                Object.assign(this.$data, this.$options.data());
           }
        }
    }
</script>
