<template>
    <div>
        <cookie-law theme="dark-lime" buttonClass="btn btn-primary">

            <div slot="message">
                This website uses cookies to ensure you get the best experience on our website. <a href="/privacy-policy">Click here to learn more</a>
            </div>
        </cookie-law>
    </div>
</template>

<script>
  import CookieLaw from 'vue-cookie-law'
  export default {
    components: { CookieLaw }
  }
</script>
