<template>
    <div class="tabs">
        <div class="tabs-header">
            <span :class="{'active': tabBoth}" class="btn btn-primary" @click="both">All</span>
            <span :class="{'active': tabWebsite}" class="btn btn-primary" @click="website">Websites</span>
            <span :class="{'active': tabFlyer}" class="btn btn-primary" @click="flyer">Flyers</span>
        </div>
        <br>
        <div class="row">
            <div class="tabs-content">
                    <div v-if="tabBoth">
                        <div class="col-md-3 col-sm-4" v-for="task in items">
                                <img :src="task.image" class="website" v-if="type(task.type)">
                                <img :src="task.image" class="flyer" v-if="! type(task.type)">
                        </div>
                    </div>
                    <div v-if="tabWebsite">
                        <div v-if="type(task.type)" class="col-md-3 col-sm-4" v-for="task in items">
                            <img :src="task.image" class="website">
                        </div>
                    </div>
                <div v-if="tabFlyer">
                    <div v-if="! type(task.type)"  class="col-md-3" v-for="task in items">
                        <img :src="task.image" class="flyer">
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        data() {
            return {
                tabBoth: true,
                tabWebsite: false,
                tabFlyer: false,
                items: this.fetchItems()
            }
        },
        methods: {
            both() {
                this.tabBoth = false
                this.tabWebsite = false
                this.tabFlyer = false
                this.tabBoth = true
            },
            website() {
                this.tabWebsite = true
                this.tabFlyer = false
                this.tabBoth = false
            },
            flyer() {
                this.tabWebsite = false
                this.tabFlyer = true
                this.tabBoth = false
            },
            fetchItems() {
                this.$http.get('api/portfolio/').then(function(response) {
                    this.items = response.data
                })
            },
            type(type) {
                if(type == 'website')
                {
                   return true;
                }
            }
        }
    }
</script>
