<template>
    <div>
        <div class="column is-10 is-offset-1">


            <!--test Field-->
            <div class="field">
                <p :class="{ 'control': true, 'has-icon': true, 'has-icon-right': true }">
                    <textarea name="testfield" v-validate="'required|alpha|min:10'" :class="{'textarea': true, 'is-danger': fields.failed('testfield'), 'is-success': fields.passed('testfield') }" id="testfield" placeholder="Vraag"></textarea>
                    <!--<span v-show="fields.failed('testfield') || fields.passed('testfield')" class="icon is-small">-->
        <!--<i :class="{ 'fa': true, 'fa-warning': fields.failed('testfield'), 'fa-check': fields.passed('testfield') }"></i>-->
      </span>
                </p>
            </div>
        </div>
    </div>
</template>
<script>
    import VeeValidate from 'vee-validate';

    Vue.use(VeeValidate);

    export default{
        data(){
            return{
                  name: '',
                  telefoon: '',
                  email: '',
                  onderwerp: '',
                  testfield: '',
                  vraag: ''            }
        }
    }

</script>
