/*-----Initialisation-----*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*-----HTML5 display-role reset for older browsers-----*/

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/*-----Clearfix-----*/

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/*-----Website-----*/

body {
	line-height: 1;
	background: white url("../img/image2.jpg") ;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	/*overflow:hidden;*/
	padding:0;margin:0;
	height:100%;width:100%;
}
/*
#bgimghome {
	position:absolute;
	z-index: -1;
}

#bgimg {
	position:absolute;
	z-index: -1;
}
*/
#header
{
	border-top: 1px solid #666666;
	border-bottom: 3px solid #666666;
	height:180px;
	background: #00a4ff  url("../img/line.png");
}
/*
#realBody{
	position:absolute;
	overflow:auto; 
	height:100%;width:100%;
	background: url('../img/raster.png') repeat scroll 0 0 transparent;
}
*/
#title h1
{
font-family: arial, serif;
position:absolute;
top:-90px;
left: 35px;
color:white;
font-size: 40px;
text-shadow: 0px 0px 4px black;
}

#title p
{
font-family: arial, serif;
position:absolute;
top:-55px;
left: 430px;
color:black;
line-height: 130%;
font-size: 16px;
text-align: center;
text-shadow: 0px 0px 2px white;
font-weight: bold;
}

/*-----Container-----*/

#container 
{
	font-family: Arial, serif;
	width: 1000px;
	min-height: 575px;
	margin: -48px auto 0 auto;
	position: relative;
	box-shadow: 0px 0px 12px white;
	border-radius: 5px;
	background: url('../img/background-middle.jpg') repeat-y;
}

#mouse
{
position: absolute;
right:25px;
top:-110px;
}

#aflag, #fflag
{
border: 2px solid #000000;
position:absolute;
top:8px;
right:30px;
}

#fflag
{
right:100px;
}

#nav
{
	background: url("../img/nav_slice.jpg") repeat-x;
	-moz-border-radius: 5px 5px 0px 0px  ;
	-webkit-border-radius: 5px 5px 0px 0px  ;
	border-radius: 5px 5px 0px 0px;
	border: 1px solid #4a4a4a;
	padding-left:25px;
}

#nav li
{
	display:inline-block;
	margin: 15px 0px;
	margin-left: 5px;
}

#nav a
{	
	text-decoration: none;
	color: black;
	font-weight: bold;
	-moz-box-shadow: 0px 0px 4px white;
	-webkit-box-shadow: 0px 0px 4px white;
	box-shadow: 0px 0px 4px white;
}
#nav a:hover
{	
	color: black;
	color: #00A4FF;
}

.button 
{
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding:5px 20px;
	border: 1px solid black;
	text-align:center;
	width: 100px;
	height:25px;
	background: url("../img/button_slice.jpg") repeat-x;
}

.button:hover 
{
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding:5px 20px;
	border: 1px solid #00A4FF;
	text-align:center;
	width: 100px;
	height:25px;
	background: url("../img/button_slice_hover.jpg") repeat-x;
}

/*-----Slider-----*/

#slider
{
	background-color: #ececec;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #b7b7b7;
	position: relative;
	Width: 935px;
	height:270px;
	margin:15px auto;
	padding: 15px 0px;
	margin-top: 30px;
	-moz-box-shadow: 0px 0px 5px #555555 inset;
	-webkit-box-shadow: 0px 0px 5px #555555 inset;
	box-shadow: 0px 0px 5px #555555 inset;
}

.carrousel-conteneur
{

margin:auto;
}

.carrousel {
margin: 0px;
padding:0;
height:200px;
}

.carrousel li {
float:left;
width:932px;
height:270px;
margin:0;
padding:0;
list-style:none;
color:#FFF;
font:3em/1.2 Georgia, "Times New Roman", Times, serif;
text-align:center;

}

.carrousel li em
{
font-size: 16px;
display: inline-block;
margin-right: -120px;
margin-left: 30px;
color: black;
}

.carrousel-pagination li
{
display: inline-block;
}

#macbook_air
{
margin-top:20px;
width: 400px;
height: 240px;
}

.macbook_air1
{
margin-top:20px;
margin-left: -20px;
width: 400px;
height: 240px;
}

.textslider1
{
font-size: 26px;
color: #60b600;
vertical-align: top;
margin-top: 30px;
padding-top: 75px;
padding-right: 20px;
margin-right: 20px;
}

.textslider1, .textslider2, #macbook_air1
{
display: inline-block;
}

.textslider2
{
font-size: 26px;
vertical-align: top;
margin-top: 30px;
padding-top: 60px;
padding-right: 20px;
margin-right: 20px;
color: #00a4ff;
}

#slide-one a, #slide-two a
{
color: black;
text-decoration: none;
}

#gallery
{ 
	position: absolute;
	bottom:0px;
	top: -200px;
	right: 1150px;
}

#slider h2
{
font-size: 30px;
margin-left: 20px;
position: absolute;
top: -20px;
}

#buttonleft, #buttonleft2
{
	position: absolute;
	bottom:120px;
	left: 20px;
}

#buttonleft2
{
	bottom: 120px;
	left: 21px;
}

#buttonright, #buttonright2
{
	right:20px;
	position: absolute;
	bottom:120px;
}

#buttonright2
{
	bottom: 121px;
	right: 21px;
}

.buttonslider 
{
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding:5px 10px;
	border: 1px solid black;
	text-align:center;
	width: 100px;
	height:25px;
	background: #00A4FF url("../img/button_slice.jpg") repeat-x;
}

.buttonslider:hover
{
	color: #5198cc;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding:5px 10px;
	border: 1px solid black;
	text-align:center;
	width: 100px;
	height:25px;
	background: #5ebbf1 url("../img/line.png") repeat-x;
}

/*-----Footer-----*/

#columns
{
	width: 935px;
	margin-left: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #ececec;
	padding: 20px 0px;
	border: 2px solid #b7b7b7;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 6px #555555 inset;
	-webkit-box-shadow: 0px 0px 6px #555555 inset;
	box-shadow: 0px 0px 6px #555555 inset;
}

#column1, #column2, #column3
{
	vertical-align:top;
	margin-left: 25px;
	display: inline-block;
	width: 280px;
}

#column1
{
margin-left: 30px;
}


#column1 h3, #column2 h3, #column3 h3
{
font-weight: bold;
border-bottom: 1px solid black;
}

#column1 li, #column2 li, #column3 li
{
margin-top: 10px;
margin-left: 30px;
display: inline-block;
}

.logo
{
padding-top: 5px;
width: 50px;
height: 50px;

}

.logo:hover
{
width: 60px;
height: 60px;
margin-bottom: -10px;
margin-left: -5px;
margin-right: -5px;
}

#footer
{
	padding:20px;
	height: 20px;
	color: #00a4ff;
	bottom: -50px;
	text-align: center;
}

/*Resume and Work*/

#content-top
{
	position: absolute;
	z-index: -1;
	width:1000px;
}

#content
{
	background-color: #ececec;
	width: 935px;
	border: 2px solid #b7b7b7;
	margin: 30px 30px 0px 30px;
	z-index: 2;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 5px #555 inset;
	-webkit-box-shadow: 0px 0px 5px #555 inset;
	box-shadow: 0px 0px 5px #555 inset;
}

h2
{
padding: 50px 0 20px 0;
font-size: 35px;
font-weight: bold;
}

#resume h2
{
padding: 50px 0 10px 0;
font-size: 35px;
font-weight: bold;
border-bottom: 2px dashed #666;
}

#details
{
float:right;
margin: 50px 50px 0 0;
}

#details p
{
margin-left: 50px;
}

#tableofcontent
{
border-bottom: 2px dashed #666;
padding-bottom: 30px;
}

#tableofcontent p
{
padding-top: 20px;
padding-bottom: 5px;
font-weight: bold;
font-size:16px;
}

#tableofcontent li
{
margin: 5px 0;
list-style-type: square;
margin-left:20px;
color:black;
text-shadow: 0px 0px 4px white;
list-style-type: none;
}

#tableofcontent a
{
color: #00a4ff;
font-weight:bold;
text-decoration: none;
}

#summary a:hover
{
	color: black;
	font-weight:bold;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding:5px 10px;
	border: 1px solid black;
	text-align:center;
	width: 100px;
	height:25px;
	background: #5ebbf1 url("../img/line.png") repeat-x;
}

#resume
{
padding: 0 50px 30px 50px;
margin-top:0px;
}

#resume h3
{
color: #00a4ff;
padding: 30px 0 0 0;
margin-bottom:30px;
font-size: 20px;
border-bottom: 1px solid #00a4ff;
}

#resume li
{
margin: 20px 0;
line-height: 135%
}

#resume li h3
{
font-weight: bold;
margin: 10px 0;
}

strong
{
font-weight: bold;
}

em
{
font-style: italic;
color: #EF9C00;
font-size: 18px;
}

#lang
{
padding-top: 30px;
margin-bottom:-10px;
}

#resumefiles
{
float:right;
line-height: 130%;
text-align:center;
border: 1px solid grey;
padding: 10px;
padding-top: 0px;
margin:20px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

.language
{
height: 40px;
}

.flaglanguage, .languagetext 
{
float: left;
}

.languagetext
{
padding-left: 10px;
padding-top: 8px;
}

.flaglanguage
{
border: 1px solid #000000;
}

/*---Work---*/

.works
{
height: 200px;
text-align:center;
background-color:grey;
border: 1px solid black;
}



#tableofcontent_workpage
{
border-bottom: 2px dashed #666;
float:none;
display:block;
margin: 0 50px;
padding-bottom: 30px;
}

#tableofcontent_workpage li
{
margin:20px 50px 0px 50px;
color:black;
text-shadow: 0px 0px 4px white;
list-style-type: none;
float:left;
}

#tableofcontent_workpage a
{
text-decoration: none; 
color:black;
}

#tableofcontent_workpage h2
{
padding: 50px 0 10px 0;
font-size: 35px;
font-weight: bold;
border-bottom:2px dashed #666;
}

#tableofcontent_workpage h3
{
width:300px;
font-size: 20px;
font-weight: bold;
text-align: center;
padding-bottom: 10px;
}

.image
{
width:315px;
}

.website
{
width: 240px;
height: 150px;
text-align:center;
background-color:grey;
border: 1px solid black;
float: right;
margin-left:20px;
}

.website_text
{
height: 152px;
margin:0 15px 30px 15px;
}

.website_text h4
{
font-size: 20px;
padding-bottom:10px;
}

.flyer
{
width: 120px;
height: 160px;
background-color:grey;
border: 1px solid black;
float: right;
margin-left:20px;
}

/*-----Contactpage-----*/
td
{
vertical-align: top;
padding:10px;
}
tr
{
padding:10px;
}
#tableofcontent_workpage h4
{
padding: 20px 0px;
}

#tableofcontent_contactsent
{
float:none;
display:block;
margin: 0 50px;
padding-bottom: 30px;
}

#tableofcontent_contactsent h2
{
padding: 50px 0 10px 0;
font-size: 35px;
font-weight: bold;
border-bottom:2px dashed #666;
}

#tableofcontent_contactsent h3
{ 
color:#00a4ff;
font-size: 30px;
font-weight: bold;
text-align: left;
margin-top:-20px;
}
