footer .pages ul li a{
  margin:8px auto;
  display:block;
}

footer a{
  color: #9d9d9d;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

footer {
  .contact-footer, .follow-footer {

    ul li {
      margin:8px auto;
    }

    .pull-left {
      width: 30px;
    }
    .next-line {
      padding-left: 30px;
    }
  }
}

.bottom-footer {
  background-color:#222222;
  padding: 20px;

  p {
    text-align:center;
    color:white;
    padding:10px;
    margin:0px;

    a {
     color:white;
    }
  }
}
