.gradient-background {
  color: #fff;
  background: #4b6cb7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.padding-bottom {
  padding-bottom: 40px;
}

.navbar-brand {
  padding: 5px 5px 5px 30px;
}

footer {
  background-color:#333;
  padding: 40px 0;
  //color: #fefefe;
  color:#9d9d9d;

  h4 {
    color: $brand-seconday;
  }

  ul {
    padding-left: 0px;

    li {

      list-style: none;

      a {
        color:#9d9d9d;

        &:hover {
          color: $brand-seconday;
          text-decoration: none;
        }
      }
    }
  }
}

.top-margin-for-menu {
  margin-top:51px;
}

h3 {
  color: $brand-primary;
  //font-weight: bold;
}

.tabs {
  .website, .flyer {
    margin: 10px auto;
    height: 170px;
    display:block;
  }
  .website {
    width: 100%;
  }
}

.about-me .fa{
  font-size: 60px!important;
}

/* portfolio */
 .website {
   max-width: 300px;
   text-align: center;
   z-index: 3;
   //opacity: 0.5;
   //filter: alpha(opacity=50);
   //
   //&:hover {
   //  opacity: 1;
   //  filter: alpha(opacity=100);
   //}
 }

 .target-flyers , .target-websites {

   padding: 0;

   a {
     display:block;
     text-decoration: none;
     color: $brand-seconday;
   }

   &:hover {
     //opacity: 0.4;
     background-color: rgba(0,0,0,0.4);
     z-index: 1;
   }
 }

 .padding-section {
   padding: 40px 0;
   //background-color: #eee;
 }

 .portfolio-summary {
   margin-bottom: 40px;
 }

 //#websites, #flyers, #res-section-1, #res-section-2, #res-section-3, #res-section-4 {
 //  margin: 0;
 //  padding: 60px 0 30px 0;
 //}

 /* Resume */
#resume-files a, #summary a {
  color: $brand-seconday;

  &:hover {
    color: $brand-primary;
    text-decoration: none;
  }
}

#summary ul {
  padding-left: 0px;
  li {
    list-style: none;
    a {
      font-size: 16px;
      line-height: 210%;
      &:focus {
        text-decoration: none;
      }
    }
  }
}

.resume {
  article {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    padding-bottom: 5px;
    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
  }

  .languages article {
    padding-bottom: 15px;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
    p {
      margin: 5px 0;
    }
  }

  .skills h4{
    padding-bottom: 20px;
  }
}


 .document {
   background: none;
   border: none;

   .fa:hover {
     color: #3097D1;
   }
 }
