.fade-enter-active {
  transition: opacity 0.4s, transform 0.4s;
  -webkit-transition-delay: 0.2s; /* Safari */
  transition-delay: 0.2s;
}

.fade-leave-active {
  transition: opacity 0.0s
}

.fade-enter /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
  -webkit-transition-delay: 0.2s; /* Safari */
  transition-delay: 0.2s;
}

.fade-leave-to {
  transition: opacity 0.0s

}
